################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/LibInt256/v15
/Debug
/.vs/LibInt256/v14/.suo
/ipch/LIBINT256-9f969da8
/x64
/Release/LibInt256.log
/LibInt256.VC.VC.opendb
/LibInt256.VC.db
